*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin-top: 12px;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to right, lightgreen, blue);
}

.btn {
  background-color: blue;
  text-decoration: none;
  border: transparent;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  color: white;
  box-shadow: 2px 2px black;
  box-shadow: var(--shadow-1);
  padding: 0.375rem 0.75rem;
}

.navbar {
  padding: 5px 10px;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}







